{% extends 'main/base.html' %}
{% block title %}Building{% endblock %}
{% block slogan %}Is alles zo goed?{% endblock %}
{% block nav-building %}class="active"{% endblock %}
{% block action %}{% endblock %}
{% block icon-2 %}class="active"{% endblock %}
{% block content %}
<div id="building" class="building building-2">
	<form action="/building3/">
		<ul>
		<li><label>(1) Processor</label><a href="#change">Intel® Core™ i7-3770 Processor</a></li>
		<li><label>(2) Videokaart</label><a href="#change">Club 3D Radeon HD 5450 PCI Edition</a></li>
		<li><label>(3) Hardeschijf</label><a href="#change">Antec VSK 3000E</a></li>
		<li><label>(4) Geheugen</label><a href="#change">xxxx</a></li>
		<li><label>(5) Moederbord</label><a href="#change">xxxx</a></li>
		<li><label>(6) Voeding</label><a href="#change">xxxx</a></li>
		<li><label>(7) Behuizing</label><a href="#change">xxxx</a></li>
		<li><label>(8) xxxxxxx</label><a href="#change">xxxx</a></li>
		<li><label>(9) xxxxxxxx</label><a href="#change">xxxx</a></li>
		</ul>
		<div class="box-action">
			<input type="submit" value="Doorgaan" class="button-action">
		</div>
	</form>
</div>

<div id="extrainfo" class="extrainfo">
	<div class="exit">
		<a href="#change">X</a>
	</div>
	<div class="title">Intel® Core™ i7-3770 Processor</div>
	<div class="wrap">
		<div id="product-info" class="info">
			<ul>
				<li><label>Type</label><span>Desktop</span></li>
				<li><label>Socket</label><span>1150</span></li>
				<li><label>Bouwvorm</label><span>FC-LGA4</span></li>
				<li><label>CPU</label><span>3500MHz</span></li>
				<li><label>Cache<label><span>L1 4x 64 KB</span></li>
				<li><label>Stroomverbruik<label><span>84 Watt</span></li>
				<li><label>Bus snelheid<label><span>5000 MT/s</span></li>
				<li><label>Geintegreerde CPU<label><span>Intel HD Graphics 4600</span></li>
				<li><label>Koeling Type<label><span>Actieve CPU koeler</span></li>
				<li><label>Stroomaansluiting<label><span>4 pins PWM fan-connector</span></li>
				<li><label>Garantie<label><span>36 maanden</span></li>

			</ul>
		</div>
	</div>
	<div class="box-action">
		<a href="#" class="button-action">Ik wil een andere product</a>
	</div>
</div>

{% endblock %}