{% extends 'main/base.html' %}
{% block title %}Building{% endblock %}
{% block slogan %}Bouw een computer{% endblock %}
{% block nav-building %}class="active"{% endblock %}
{% block action %}{% endblock %}
{% block icon-1 %}class="active"{% endblock %}
{% block content %}

<div class="building">
	<form action="/building2/">
		<ul>
		<li><label for="1">(1) Processor</label><input placeholder="e.g; Intel, 3.2GHz" id="1" type="text"><select>
  <option value="merk">merk</option>
  <option value="intel">Intel</option>
  <option value="AMD">AMD</option>
</select></li>
		<li><label for="2">(2) Videokaart</label><input placeholder="e.g; AMD, Crossfire"id="2" type="text"></li>
		<li><label for="3">(3) Hardeschijf</label><input placeholder="e.g; 200GB, SSD" id="3" type="text"></li>
		<li><label for="4">(4) Geheugen</label><input placeholder="e.g; 8GB, Corsair" id="4" type="text"></li>
		<li><label for="5">(5) Moederbord</label><input id="5" placeholder="e.g; ASROCK, AMD3+" type="text"></li>
		<li><label for="6">(6) Voeding</label><input id="6" placeholder="e.g; 500W, 32 maanden garantie" type="text"></li>
		<li><label for="7">(7) Behuizing</label><input id="7" placeholder="e.g; DELL, ATX Model" type="text"></li>
		</ul>
		<div class="box-action">
			<input type="submit" value="Doorgaan" class="button-action">
		</div>
	</form>
</div>

{% endblock %}
