{% extends 'main/base.html' %}
{% block title %}Building{% endblock %}
{% block slogan %}Bouw een computer{% endblock %}
{% block nav-building %}class="active"{% endblock %}
{% block action %}{% endblock %}
{% block icon-1 %}class="active"{% endblock %}
{% block content %}

<div id="building" class="building">
	<form action="/building2/">
		<ul>
		<li>
			<label for="1">(1) Processor</label>
			<select>
		  		<option value="merk" selected disabled>Kernen</option>
		  		<option value="xx">2</option>
		  		<option value="xx">4</option>
		  		<option value="xx">6</option>
		  		<option value="xx">8</option>
			</select>
			<select onchange="changeMe(this)">
		  		<option value="merk">Socket</option>
		  		<option value="xx">Socket 1150</option>
		  		<option value="xx">Socket 1155</option>
		  		<option value="xx">Socket 2011</option>
		  		<option value="xx">Socket 2011-3</option>
		  		<option value="xx">Socket AM1</option>
		  		<option value="xx">Socket AM3+</option>
		  		<option value="xx">Socket FM2</option>
		  		<option value="xx">Socket FM2+</option>
			</select>
			<select onchange="changeMe(this)">
		  		<option value="GHZ">Kloksnelheid</option>
		  		<option value="xx">2.5</option>
		  		<option value="xx">3.0</option>
		  		<option value="xx">3.5</option>
		  		<option value="xx">4.0</option>
			</select>
		</li>
		<li>
			<label for="2">(2) Videokaart</label>
			<select onchange="changeMe(this)">
		  		<option value="xx">Geheugen</option>
		  		<option value="xx">1GB</option>
		  		<option value="xx">2GB</option>
		  		<option value="xx">3GB</option>
		  		<option value="xx">4GB</option>
			</select>
			<select onchange="changeMe(this)">
		  		<option value="xx">PCI Sockets</option>
		  		<option value="xx">1</option>
		  		<option value="xx">2</option>
		  		<option value="xx">3</option>
		  		<option value="xx">4</option>
			</select>
			<select onchange="changeMe(this)">
		  		<option value="xx">SLI/Crossfire</option>
		  		<option value="xx">ja</option>
		  		<option value="xx">nee</option>
			</select>
		</li>
		<li>
			<label for="3">(3) Hardeschijf</label>
			<select onchange="changeMe(this)">
		  		<option value="xx">Capiciteit</option>
		  		<option value="xx">250 GB</option>
		  		<option value="xx">500 GB</option>
		  		<option value="xx">1000 GB</option>
			</select>
			<select onchange="changeMe(this)">
		  		<option value="xx">Bouwvorm</option>
		  		<option value="xx">2,5 inch (laptop)</option>
		  		<option value="xx">3,5 inch</option>
			</select>
			<select onchange="changeMe(this)">
		  		<option value="xx">Toerental</option>
		  		<option value="xx">5400 RPM</option>
		  		<option value="xx">7200 RPM</option>
			</select>
		</li>
		<li>
			<label for="4">(4) Geheugen</label>
			<select onchange="changeMe(this)">
		  		<option value="xx">Capiciteit</option>
		  		<option value="xx">1 GB</option>
		  		<option value="xx">2 GB</option>
		  		<option value="xx">4 GB</option>
		  		<option value="xx">8 GB</option>
			</select>
			<select onchange="changeMe(this)">
		  		<option value="xx">Type</option>
		  		<option value="xx">SDRAM</option>
		  		<option value="xx">DDR1</option>
		  		<option value="xx">DDR2</option>
		  		<option value="xx">DDR3</option>
		  		<option value="xx">DDR4</option>
			</select>
			<select onchange="changeMe(this)">
		  		<option value="xx">Slots</option>
		  		<option value="xx">1</option>
		  		<option value="xx">2</option>
		  		<option value="xx">3</option>
		  		<option value="xx">4</option>
			</select>
		</li>
		<li>
			<label for="5">(5) Moederbord</label>
			<select onchange="changeMe(this)">
		  		<option value="merk">Socket</option>
		  		<option value="xx">Socket 1150</option>
		  		<option value="xx">Socket 1155</option>
		  		<option value="xx">Socket 2011</option>
		  		<option value="xx">Socket 2011-3</option>
		  		<option value="xx">Socket AM1</option>
		  		<option value="xx">Socket AM3+</option>
		  		<option value="xx">Socket FM2</option>
		  		<option value="xx">Socket FM2+</option>
			</select>
			<select onchange="changeMe(this)">
		  		<option value="xx">PCIe</option>
		  		<option value="xx">1</option>
		  		<option value="xx">2</option>
		  		<option value="xx">3</option>
		  		<option value="xx">4</option>
		  		<option value="xx">5</option>
		  		<option value="xx">6</option>
			</select>
			<select onchange="changeMe(this)">
		  		<option value="xx">Geheugen</option>
		  		<option value="xx">16GB</option>
		  		<option value="xx">32GB</option>
		  		<option value="xx">64GB</option>
		  		<option value="xx">128GB</option>
			</select>
		</li>
		</ul>
		<div class="box-action">
			<input type="submit" value="Doorgaan" class="button-action">
		</div>
	</form>
</div>

{% endblock %}
