@media screen and (max-width: 950px) {
	.box-nucleus{width: 96%!important; float: none!important;margin: 0px 2% 5% 2%!important;}
	.nucleus-jumbotron h1{font-size: 5em!important;}
	.nucleus-nav li a{font-size:1em!important;}
}

/*globals*/
body { border-top: 2px solid rgb(205, 205, 205);}
ul{list-style: none;}

/*templates*/
	/*buttons*/
	.button-action{ width: 100%; font-size: 1.8em;    color: #4579DE;  cursor: pointer;        border: 1px solid #32A2E5;      padding: 12px 0px;          transition: 0.4s all;    display: block;    text-align: center;}
	.button-action:hover{color: inherit; text-decoration: none; background-color: rgb(61, 113, 177);color: white;border: 1px rgb(61, 113, 177) solid;}
	/*menu*/
	.nucleus-nav li a { color: #FFFFFF; font-weight: 300; font-size: 1.5em; border-left: 1px solid; border-right: 1px solid; border-color: rgb(184, 71, 71); transition: 0.4s all;}
	.nucleus-nav li a:hover { background-color: #B21B1B; color: rgb(255, 255, 255); border-left: 1px solid; border-right: 1px solid; border-color: #B21B1B;}
	.nucleus-nav li a.active { background-color: #AD1515; color: rgb(255, 255, 255); border-left: 1px solid; border-right: 1px solid; border-color: rgb(157, 0, 0); border: 10px 15px;}
	.menu-progress{ height: 102px;}
	.menu-progress ul{ list-style: none; border-bottom: 2px solid rgb(198, 198, 198); padding: 9px 0px;}
	.menu-progress ul li{float: left; width: 21%;margin-left: 12%;}
	.menu-progress ul li span { position: absolute; margin-top: 32px; text-align: center; margin-left: -19px; color: rgb(135, 135, 135);}
	.menu-progress ul li i{ border: 1px rgb(140, 136, 136) solid; border-radius: 50%; padding: 10px 14px; z-index: 2; background: rgb(219, 219, 219); color: white; text-shadow: -1px -1px 0 #848484,        1px -1px 0 #848484,      -1px 1px 0 #848484,       1px 1px 0 #848484;}
	.menu-progress ul li i.active{text-shadow: none; background-color: rgb(184, 71, 71);border-color: rgb(184, 71, 71);}

/*wrappers and boxes*/
.box-nucleus:first-child{margin: 0px;}
.box-nucleus{border: 1px solid #e9e9e9; width: 32.333333%; float: left;padding: 0px;margin-left: 1%;}
.box-nucleus h2{font-size: 30px; color: #1c94c6; border-bottom: 2px solid #1c94c6; padding-bottom: 15px;padding-left: 20px;}
.box-nucleus p{margin: 20px;}
.box-action { margin: 0px auto; width: 100%; margin-bottom: 55px;}
.box-masthead { background: rgb(184, 71, 71); color: white; padding: 0px 21px;}


/*[page]frontpage*/
.nucleus-jumbotron h1 { text-align: center; font-size: 605%; color: rgb(74, 74, 74);}
.nucleus-jumbotron { background: none;}

/*[page]building*/
.building-1 ul li { padding: 7px 0px;}
.building-1 ul li label { float: left; width: 196px;}
.building-1 ul li input{ padding: 3px 0px;}